In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('/workspaces/codespaces-jupyter/notebooks/Suicide Rates Overview 1985 to 2016.csv')

Tematica del dataset:

Recopilacion de datos de suicidios a nivel mundial

In [3]:
df.head().round(1)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.7,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.2,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.8,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.6,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.3,Albania1987,NaN,"2,156,624,900",796,Boomers

In [4]:
df.shape

(27820, 12)

Variables:

Country: pais

Year: Año

Sex: Genero

Age: Edad

Suicide_no: Cantidad de suicidios

Population: Poblacion

suicides/100k pop: Suicidios cada 100.000 personas

country-year: Pais y Año

HDI for year: Indice de desarollo humano (Human Development Index)

gdp_for_year ($): Producto interno bruto por año (gross domestic product)

gdp_per_capita ($): Producto interno bruto por cabeza

generation: Generacion

OBJETIVO:

Predecir los grupos con mayores señales de tendencias al suicidio a fin de generar campañas de concientizacion, acercarlos a grupos de autoayuda, etc.

VARIABLES MAS RELEVANTES:

Age - HDI for year - gdp for year - gdp per capita

In [5]:
df= pd.read_csv('/workspaces/codespaces-jupyter/notebooks/healthcare-dataset-stroke-data.csv')

Tematica del dataset:

Conjunto de datos de diferentes pacientes teniendo en cuenta el sexo, la edad, diversas enfermedades y el tabaquismo.

In [6]:
df.head().round(1)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.7,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.2,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.9,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.2,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.1,24.0,never smoked,1

In [7]:
df.shape

(5110, 12)

VARIABLES:

id: identificador unico

gender: genero

age: edad

hypertension: informacion sobre si tiene hipertension (1), o si no tiene hipertension (0)

heart disease:  0 si el paciente no tiene ninguna enfermedad cardíaca, 1 si el paciente tiene una enfermedad cardíaca

ever married: si alguna vez se caso "No" o "Yes"

work type: tipo de trabajo

Residence type: tipo de residencia

avg_glucose_level: nivel promedio de glucosa

bmi: indice de masa corporal (Body Mass Index)

smoking_status: si fuma o alguna vez fumo

stroke: si tuvo algun accidente cerebrovascular (1) o si no lo tuvo (2)

OBJETIVO:

Predecir que personas son mas propensas a sufrir un accidente cerebrovascular

VARIABLES MAS RELEVANTES:

age - hypertension - heart disease - avg glucose level - bmi - smoking status - stroke

In [8]:
df= pd.read_csv('/workspaces/codespaces-jupyter/notebooks/hotel_bookings.csv')

Tematica del dataset:

Este conjunto de datos compara diversa información de reserva entre dos hoteles: un hotel urbano y un hotel resort.

In [9]:
df.head().round(1)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [10]:
df.shape

(119390, 32)

VARIABLES:

hotel: hotel urbano o un hotel resort

is canceled: Valor que indica si la reserva fue cancelada (1) o no (0)

lead time: Número de días transcurridos entre la fecha de entrada de la reserva en el PMS (property management system) y la fecha de llegada

arrival date year: año de llegada

arrival date month: mes de llegada

arrival date week number: numero de semana del año para la fecha de llegada

arrival_date_day_of_month: dia de llegada

stays_in_weekend_nights: numero de noches de fin de semana (sábado o domingo) en el que el huésped se alojó o reservó para alojarse en el hotel

stays_in_week_nights: numero de noches de semana (de lunes a viernes) el huésped se alojó o reservó para quedarse en el hotel

adults: cantidad de adultos

children: cantidad de niños

babies: cantidad de bebes

meal: Tipo de comida reservada. Las categorías se presentan en paquetes de comidas de hospitalidad estándar: Indefinido/SC – sin comida

country: País de origen. Las categorías están representadas en el formato ISO 3155–3:2013

market segment: Designación del segmento de mercado. En categorías, el término “TA” significa “Travel Agents” y “TO” significa “Tour Operators”

distribution channel: Canal de distribución de reservas. El término “TA” significa “Travel Agents” y “TO” significa “Tour Operators”

is repeated guest: Valor que indica si el nombre de la reserva era de un huésped repetido (1) o no (0)

previous cancellations: Número de reservas anteriores que fueron canceladas por el cliente antes de la reserva actual

previous booking no canceled: Número de reservas anteriores no canceladas por el cliente antes de la reserva actual

reserved room type: Código del tipo de habitación reservada. El código se presenta en lugar de la designación por razones de anonimato.

assigned room type: Código para el tipo de habitación asignada a la reserva.

booking changes: Número de cambios/modificaciones realizados en la reserva desde el momento en que se introdujo la reserva en el PMS

deposit_type: Indicación de si el cliente realizó un depósito para garantizar la reserva.

agent: ID de la agencia de viajes que realizó la reserva

company: DNI de la empresa/entidad que realizó la reserva o responsable del pago de la reserva.

days_in_waiting_list: Número de días que la reserva estuvo en la lista de espera antes de ser confirmada al cliente

customer type: Tipo de reserva, asumiendo una de las cuatro categorías

adr: Tarifa diaria promedio definida dividiendo la suma de todas las transacciones de alojamiento por el número total de noches de estadía

required_car_parking_spaces: Número de plazas de aparcamiento requeridas por el cliente

total_of_special_requests: Número de solicitudes especiales realizadas por el cliente (por ejemplo, dos camas individuales o piso alto)

reservation_status: Último estado de reserva, asumiendo una de las tres categorías

reservation_status_date: Fecha en la que se estableció el último estado.

OBJETIVO:

Predecir la mejor epoca del año para hacer reserva, conseguir mejores precios, etc.

VARIABLES MAS RELEVANTES:

Lead time - arrival date month - stays_in_weekend_nights - stays_in_week_nights - adults - children - reserved room type - customer type - adr - required_car_parking_spaces - total_of_special_requests